body{
	background-image: url("banner.jpg");
	background-size: 100% 100%
}
.hah{
	height: 550px;
}
.lmao{
	height: 80px;
}
.hey{
	height: 60px;
}
.jojo{
	height: 545px;
}
.hah2{
	height: 300px;
}
.green2{
	height: 295px;
}
.green{
	height: 490px;
}